<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style> 
    *{
        background-color: #e6e6e6;
    }
    a{
        margin-left: 20%;
        /* display: inline; */
    }
    h1{
        margin-left: 70%;
    }
    </style>
    <title>Главная</title>
</head>
<body>
    <h1>{{user}}</h1>
    <a href="login">Войти</a>
    <br>
    <a href="register">Зарегестрироваться</a>
    <br>
    <a href="car">Информация о машинах</a>
    <br>
    <a href="restoration">Информация о рестоварциях</a>
    <br>
    <a href="range">Голосовать</a>
    <br>
    <a href="rangeresult">Итоги голосования</a>
    <br>
</body>
</html>